.body{
 background-image: url('https://cdn.shopify.com/s/files/1/1994/1911/files/Fondo_Web_-_Final.jpg?3503079597161189483');
 background-repeat: no-repeat;
 background-position: right top;
 background-attachment: inherit;
}
.mail{
  color: #ffffff;
}
.envios{
  color: #ffffff;
}
.nav{
  color: #ffffff;
}

.avios {
  color: #ffffff;
}
.eslogan{
  color: #ffffff;
}
.texto{
  color: #ffffff;
}
.gracias{
  color: #ffffff;
}
